/* Created by Carlos Porto, Design Drifter. Contact at cporto(at)designdrifter.com */

body {
margin: 0;
padding: 0;
font-family:"Trebuchet MS", "Liberation Sans", verdana, arial, helvetica, sans-serif ;
font-size: 76%;
color: #333;
background: #e4ffc9 url(/img/bg-repeat.png) repeat-x 0 0;
text-align: center;
}

/*typography*/
a, a:link, a:visited, a:active{
//color: #555;
color: #666666;
padding: 0px 5px 0 5px;
}
a:hover{
//background: #7ea356;
//color:#FFFF7D;
color: #666666;
}

h1,h2,h3,h4,h5,h6{
clear: both;
margin: 1.6em 0em .2em 0em;
}
h1, h1 a {
color: #507f19;
font-size: 1.4em;
margin: .6em 0em .2em 0em;
}
h2 {
color:#81b34e;
font-size: 1.4em;
}
h3 {
color:#67804e;
font-size: 1.2em;
}
h4 {
font-size: 1.2em;
}
h5 {
font-size: 1.0em;
}
h6 {
font-size: 0.8em;
}

img {
border: 0;
margin: 0;
padding: 0;
}

ol, ul, li {
line-height: 1.8em;
margin-top: 0.2em;
margin-bottom: 0.1em; 
}
p {
line-height: 1.2em;
margin: 1em 0em 1em 0em;
clear: both;
}

pre {/*moz 1.0/1.1/1.2.1, net 7.0/7.01 make this way too small*/
font-family: monospace;
font-size: 1.0em;
}
strong, b {font-weight: bold;}

/* Layout ------------------------------------------------------------------------------*/
#container{
background: transparent url(/img/bg.png) no-repeat center top;
text-align: left;
margin: 0 auto;
padding: 0;
position: relative;
z-index: 1;
width:100%;
min-height: 100%; /* For Modern Browsers */
height: auto!important; /* For Modern Browsers */
height: 100%; /* For IE */
font-size:1.1em;
}

#heading{
height: 170px;
width:500px;
margin: 0 auto;
position: relative;
}

#content{
padding:20px;
margin:-62px auto;
background: #e4ffc9 url(/img/bg-body-start.png) repeat-x 0 0;
width:460px;
height:380px;
position:relative;
z-index: 50;
}

/* Branding, logo */
#branding{
background:url(/img/logo-start.png) no-repeat 0 0;
width:265px;
height:79px;
position:absolute;
top:14px;
left:0px;
z-index:40;
}

#branding a.ir{
background:url(img/logo-start.png) no-repeat 0 0;
z-index-60;
width:265px;
height:79px;
position:absolute;
top:0;
left:0;
}


/* Search   */
ul#searchTypes{
list-style:none;
margin:0 0 .5em 0;
padding:0;
height:2.2em;
}

ul#searchTypes li{
float:left;
margin:.2em .4em;
}

input#sbi{
width: 410px;
line-height:24px;
color:#333;
padding: 3px 6px;
background:#ccffaa;
border: solid 2px #81ab64;
}

input#sbb{
background: url(/img/search-btn-start.png) no-repeat 0 0;
width: 30px;
height:25px;
padding:0;
margin: 0 0 -7px 0;
}


ul#prefs{
list-style:none;
margin:1em 0 8em 0;
padding:0;
font-size:.8em;
}

ul#prefs li{
float:left;
margin:.2em .3em;
}

ul#prefs li.title{font-weight: bold;}
ul#prefs li.links{margin:.2em 1em; color:#666;}
ul#prefs li.links a:link{
background: #f3fea4;
padding:.1em .5em; 
}
ul#prefs li.links a:hover{
background: #7ea356;
color:#FFFF7D;
}

p#learn{text-align:center;}
p#powered{text-align:center; font-size:.8em;}
p#powered img{position:relative; top:1em;}

#news{
background: #dbfcc1 url(/img/bg-body.png) repeat-x 0 0;
padding:5px 15px 15px;
}
#news dl{ overflow: hidden; }/* used to hide long text */
#news dt strong{
font-size: 2.3em;
font-weight: normal;
color: #92a382;
position: relative;
top: .1em;
}
#news dt,
#news dt a{
font-size: 1.1em;
font-weight: bold;
}
#news dd{
margin: .6em 0 0;
padding-bottom: .6em;
border-bottom: solid 1px #81ab64;
}
#news dd p{
margin: .6em;
}
#news dd p.date{
font-size: .8em;
margin: -.6em .6em 0;
padding: 0;
color: #666;
}

#mintLinks{
padding: 2px 0;
margin: 0 0 1.5em;
background: transparent url(/img/bg-body.png) repeat-x 0 -100px;
min-height: 3em;
}

#userGuideList{
width: 14em;
overflow: hidden;
text-align: left;
background: #fff;
border: solid .4em #93a383;
padding: .2em 1em;
display:none;
}
#userGuideList ul{
margin: 0;
padding: 0;
}
#userGuideList ul li{
float: left;
list-style: none;
margin: 0;
padding: 0;
width: 2.5em;
height: 2.5em;
}
#userGuideList ul li a{
padding: 0;
width: 20px;
}
#userGuideList ul li img{
width: 20px;
vertical-align: bottom;
}

#userGuideList ul li a:hover img{
width: 30px;
}

#userGuide, #releaseNotes{
position: relative;
float: left;
}
#userGuide { z-index: 5; }
#userGuide:hover #userGuideList{
display: block;
position: absolute;
bottom:0;
left: 1.6em;
z-index: 10;
}
